/*@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/



@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin'), url('fonts/raleway_thin.woff') format('woff');
}

#slideshow {
    position:relative;
    height:100%;
    z-index:-1;
}
  
#slideshow IMG {
    position:absolute;
    top:0;
    right:0;
    z-index:8;
    opacity:0.0;
}
  
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
  
#slideshow IMG.last-active {
    z-index:9;
}
  
#slideshow img {
    /* Set rules to fill background */
    
  
    /* Set up proportionate scaling */
    height: 100%;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    right: 0;
    float: right;
}


.leftHalf {
   background-color: #FE7333;
   width: 30%;
   position: absolute;
   left: 0px;
   height: 100%;
}
.rightHalf {
   width: 70%;
   position: absolute;
   right: 0px;
   height: 100%;
}


img.bg {
  max-width: 100%;
  height: auto;
} 


.tagline {
  width: 70%;
  text-align: center;
  color: #fff;
  position: relative;
}

img.navigasi {
  top: 85%;
  /*transition: all .2s ease-in-out; */
}

.navigasi:hover {
  transform: scale(1.1);
}

.navbar-fixed-top {
  background-color: transparent;
  border: none;
  height: 15vh;
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: orange;
}

/*@font-face {
    font-family: segoe;
    src: url("assets/css/fonts/segoeui.ttf");
}*/

body {
  font-family:  'Lato', helvetica, arial;
  color: #555;
  background-color: #fff
}

@font-face {
    font-family: fertigo;
    src: url("assets/css/fonts/fertigo18.ttf");
}

h1,h2,h3,h4,h5,h6 {
  font-family: fertigo;
  color: #333;
  /*text-align: center;*/
}

h2 {
  text-align: left;
  font-size: 30px;
  margin: 0px 20px 20px 0px;

}


h2.logo{
  color: #333;
  text-align: left;
  font-size: 36px;
  margin-top: 10px;
}

h4.grid {
  color: #fff;
}

p {
  font-size: 14px;
  color: #555;    
}

ul, li {
  font-size: 14px;
}

.isi {
  margin-top: 30px;
}

.prev {
  text-align: justify; 
  margin:30px 0 0 0 ;
  border:none;  
}

.news {
  margin: 50px 20px 20px 20px;
}

.ilus {
  max-width: 45%;
  height: auto;
}

.well {
 position:relative;
 display: block;
}

.thumbnail {
  background-color: transparent;
  border: none;
}

.caption {
  text-align: justify;
}


.full {
  position: relative;
  height: 100vh;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid #ddd;
}

.half {
  position: relative;
  height: 50vh;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid #ddd;
}

.quarter {
  position: relative;
  height: 25vh;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid #ddd;
}

.sepuluh {
  position: relative;
  height: 10vh;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid #ddd;
  background-color: #E3E3E3;
}

.headline {
  text-align: center;
  position: relative;
  font-size: 20px;
  margin: auto;
  background-color: ##FBB829;
}


img.sponsor {
  max-height: 40px;
  position: relative;
}


.section {
position: absolute;
top: 40%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) }

.putihan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform:translateZ(0);
  z-index: 4;
  height: 500vh;
  transition:transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  background-color: white;
  margin-top: 100vh
}

img.shadow {
  margin-top: 50px;
  width: 100%
}

img.giant {
  max-height: 700px;
  float: right;
  margin: 50px 0 0 0;
}


.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

button {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn:hover,
.btn:focus {
  
  text-decoration: none;
}


.morenews {
  margin: 30px 0 0 0;
  width: 50%;
  padding: 5px solid #46b8da;
  height: 50px;
  border-bottom: 4px solid #3FA3D9;
  border-right: 2px solid #3FA3D9;
}


.container.slide {
  padding: 200px 0;
}



/*POST THUMBNAIL http://bootsnipp.com/snippets/featured/post-thumbnail-list*/
.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{/*
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);*/
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 156px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}


/*ARTICLE THUMBNAIL http://bootsnipp.com/snippets/featured/article-thumbnails */

/* image thumbnail */
.thumb {
    display: block;
  width: 100%;
  margin: 0;
}

/* Style to article Author */
.by-author {
  font-style: italic;
  line-height: 1.3;
  color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
  width: 482px;
  height: 350px;
  position: relative;
  margin-bottom: 1em;
}

.featured-article .block-title {
  /* Position & Box Model */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* background */
  background: rgba(0,0,0,0.7);
  /* Width/Height */
  padding: .5em;
  width: 100%;
  /* Text color */
  color: #fff;
}

.featured-article .block-title h2 {
  margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
  padding-left: .5em;
}

.main-list .media {
  padding-bottom: 1.1em;
  border-bottom: 1px solid #e8e8e8;
}


/*NAVBAR*/
.navbar-fixed-top {
  background: #fff;
}

.navbar-fixed-top .nav {
    /*padding: 15px 0;*/
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
    color: #fff;
    height: auto;
}

.navbar .navbar-nav>li>a {
  font-size: 15px;
  padding-top:40px;
  padding-bottom:40px;
  color: #777
}

.navbar-nav>li>a:hover {
  color:#fff;
  background-color: orange
}


.nav-pills>li>a {
  border-radius: 0px;
  border-bottom: 1px solid #eee;
  color: #777
}

.nav-pills>li>a:hover {
  background-color: orange;
  color: #fff
}

@media(min-width:768px) {
    
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
        color: #fff;
    }
}
/*END OF NAVBAR*/


/*HOVER GRID EFFECT*/
.grid {
  width: 100%;
  margin-top: 30px;
}

figure.effect-goliath {
  background:#fff;
}

.grid figure {
  width: 100%;
  max-width: 100%;
}

.grid figure img {
  opacity: none;
}
/*END OF HOVER EFFECT*/



#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}



/*CAROUSEL SLIDER*/
/*http://bootsnipp.com/snippets/featured/tabbed-slider-carousel-inspired-by-sevenxde*/
#custom_carousel .item {

    color:#000;
    background-color:#fff;
    padding:20px 0;
    height: auto;
    min-height: 400px;
}

#custom_carousel_1 .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}

#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}

#custom_carousel_1 .controls li.active {
    background-color:#eee;
}

#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}

#custom_carousel .controls a {
    overflow:hidden;
    display:block;
    font-size:14px;
    margin-top:5px;
    color: #777;
}

img.thumb {
  margin-bottom: 2px;
}



/*TIMELINE*/

#wallmessages {
  width: 45%;
  padding: 20px 0 20px 0;
}


.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}



/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #fff;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

p.testi {
  color: #fff;
}


blockquote>p>small {
  color: white;
  font-size: 16px;
}




/*FOOTER*/
.cuadro_intro_hover{
        padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  .cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
  }
  .cuadro_intro_hover img{
    z-index: 4;
  }
  .cuadro_intro_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
  }

  footer {
    background-color: #fff;
  }